{% extends 'layout.html' %}

{% block content %}
<div class="container" id="mainPage">
    <h3>{{title}}</h3>
    <br>
    <label class="switch">
        <input type="checkbox" id="isCompleted" onclick="filterTableForStatus()">
        <span class="slider round"></span>
      </label>
    <input type="text" id="searchKey" onkeyup="filterTableForName()" placeholder="Search for names..">
    <form action="{% url 'detail' list_id %}" method="POST">
        {% csrf_token %}
        <input class="form-control" type="datetime-local" value="2011-08-19T13:45:00" name="deadline" required>
                    <textarea class="form-control" name="explanation" placeholder="Item explanation." rows="2" required></textarea>                
            <div class="input-group mb-3">
                <input type="text" class="form-control" name="name" placeholder="Item name." required>
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" type="submit">Add</button>
                </div>
              </div>       
                   
    </form>
    {% if items %}
    <table class="table" id="itemList">
        <thead class="thead-light">
            <tr>
                <th scope="col" >Name<br><a onclick="sortTable(0)" class="badge badge-pill badge-light btn">Order</a></th>
                <th scope="col" >Deadline<br><a onclick="sortTable(1)" class="badge badge-pill badge-light btn">Order</a></th>
                <th scope="col" >Created Date<br><a onclick="sortTable(2)" class="badge badge-pill badge-light btn">Order</a></th>
                <th scope="col" >Explanation<br><a onclick="sortTable(3)" class="badge badge-pill badge-light btn">Order</a></th>
                <th scope="col" >Status<br><a onclick="sortTable(4)" class="badge badge-pill badge-light btn">Order</a></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr {% if item.status is True %} class="table-success" {% else %} class="table-warning" {% endif %}>
                <td>{{item.name}}</td>
                <td>{{item.deadline}}</td>
                <td>{{item.createdDate}}</td>
                <td>{{item.explanation}}</td>
                <td>
                    {% if item.status is True %}
                    {% else %}
                    <form action="{% url 'changeStatus' item.id%}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" value='{{list_id}}' name="listId"/>                
                        <button type="submit" class="btn btn-success btn-sm">Completed</button>
                      </form>
                    {% endif %}
                </td>
                <td><form action="{% url 'deleteItem' item.id%}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" value='{{list_id}}' name="listId"/>                
                    <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                  </form></td>
            </tr>
            {% endfor %}
            {% else %}
            <br>
            <p>No List Item</p>
            {% endif %}
        </tbody>
    </table>
</div>
{% endblock %}