{% extends 'layout.html' %}

{% block content %}
<div class="container" id="mainPage">
    <h3>{{title}}</h3>
    <br>
    <form action="{% url 'detail' list_id %}" method="POST">
        {% csrf_token %}
            <textarea class="form-control" name="explanation" placeholder="Item Explanation." rows="2" required></textarea>
            Deadline: <input type="date" name="deadline" required>
            <div class="input-group mb-3">
                <input type="text" class="form-control" name="name" placeholder="Item Name" required>
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" type="submit">Add</button>
                </div>
              </div>                 
    </form>
    {% if items %}
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Deadline</th>
                <th scope="col">Created Date</th>
                <th scope="col">Explanation</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr {% if item.status is True %} class="table-success" {% else %} class="table-danger" {% endif %}>
                <td>{{item.name}}</td>
                <td>{{item.deadline}}</td>
                <td>{{item.createdDate}}</td>
                <td>{{item.explanation}}</td>
                <td>
                    {% if item.status is True %}
                    {% else %}
                    <form action="{% url 'changeStatus' item.id%}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" value='{{list_id}}' name="listId"/>                
                        <button type="submit" class="btn btn-danger btn-sm">Completed</button>
                      </form>
                    {% endif %}
                </td>
                <td><form action="{% url 'deleteItem' item.id%}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" value='{{list_id}}' name="listId"/>                
                    <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                  </form></td>
            </tr>
            {% endfor %}
            {% else %}
            <br>
            <p>No List Item</p>
            {% endif %}
        </tbody>
    </table>
</div>
{% endblock %}