{% extends 'layout.html' %}

{% block content %}
<div class="container" id="mainPage">
  <h3>My Lists</h3>
  <br />
  <ul class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <form action="{% url 'index' %}" method="POST">
        {% csrf_token %}
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="New list name" name="listName" required>
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Add</button>
          </div>
        </div>
    </form>
    </li>
    {% if lists %} {% for list in lists %}
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <a href="{% url 'detail' list.id %}">{{list.name}}</a>
      <form action="{% url 'addList' list.id %}" method="POST">
        {% csrf_token %}
      
        <button type="submit" class="btn btn-danger btn-sm">Delete</button>
      </form>
    </li>
    {% endfor %} {% else %}

    <p>No Lists</p>

    {% endif %}
  </ul>
</div>
{% endblock %}