{% extends 'layout.html' %}

{% block content %}
<div class="container" id="mainPage">
  <h3>My Lists</h3>
  <br />
  <ul class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="New list name">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" id="button-addon2">
            Create
          </button>
        </div>
      </div>
    </li>
    {% if lists %} {% for list in lists %}
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <a href="{% url 'detail' list.id %}">{{list.name}}</a>
      <button type="button" class="close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </li>
    {% endfor %} {% else %}

    <p>No Lists</p>

    {% endif %}
  </ul>
</div>
{% endblock %}